name: Professional DevOps Pipeline
on: [push]

jobs:
  build-test-secure-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Unit Test
        run: grep -q "DevOps Project" app/index.html

      - name: Build Docker Image
        run: docker build -t rumanch/devops-app:latest ./app

      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'rumanch/devops-app:latest'
          format: 'table'
          exit-code: '0' 

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: rumanch
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Secure Image
        run: docker push rumanch/devops-app:latest
